# Compiled Object files
*.o

# Executables
*.exe
*.out
*.app

# OS specific files
.DS_Store
Thumbs.db

# Ignore specific Linux/macOS binaries
run_tests
techsupport

# Generated binary data files (this is honestly specificly for techsupport.dat)
*.dat